<div class="desktop" (contextmenu)="$event.preventDefault()" (click)="clearSelection()">
  <div class="sidebar">
    <div
      class="icon"
      *ngFor="let app of apps"
      [class.selected]="selectedIcon === app.id"
      (click)="selectIcon(app.id); $event.stopPropagation()"
      (dblclick)="openApp(app.id)"
    >
      <img [src]="app.icon" [alt]="app.label + ' icon'" />
      <div class="label">{{ app.label }}</div>
    </div>
  </div>
  <ng-container #appContainer></ng-container>
</div>
